<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>MCM TimeClock</title>
  <%= stylesheet_link_tag "timeclock", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body id="store">
 <div id="banner">
 <div id="side">
   SideBar<br />
  <%= Time.now.to_s(:short) %>
</div>
<div id="main">
 <% if flash[:notice] -%>
  <div id="notice"><%= flash[:notice] %></div>
 <% end -%>
 <%= yield :layout %>
</div>
</div>
<p style="color: green"><%= flash[:notice] %></p>
</body>
</html>